@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

/* Body styling */
body{
    overflow-x: hidden;
    max-width: 100%;
}
/* Header styling */
header {
    background-image:url(/assets/images/break-escape-header.jpg);
    background-size: 1440px 100px;
}
.logo{
    float:left;
    height:100%;
}
.business-name{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    color: #fafafa;
}
.business-slogan{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    color: #fafafa;
    
}

/* card Styling */
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.card {
    flex: 0 1 calc(25% - 1em);
    margin: 1rem .25em;
}

.card-styling{
    padding-top:100px;
    padding-bottom: 100px;
}

.container{
    padding-top: 100px;
    padding-left:150px;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.container-text-image{
    flex: 0 0 calc(50% - 1em);
}
.container-text-paragraph{
    margin-top: 100px;
    margin-left:25px;
}
.welcome-image{
    border-radius: 2%;
}

/* Footer styling */
footer {
    background-color:#9bd1f8; /* Background color */
    font-family: "Playfair Display", serif; /* Font style and back up font.*/
    color: #000000; /* Font color.*/
    height: 100%; /* Footer height.*/
    text-align: center; /* Text-allignment.*/
}
/* Social links styling */
.social-links {
    padding-bottom: 15px; /* Some padding from the bottom.*/
}

.social-links li a i {
    width: 32px; /* Icon width.*/
    height: 32px; /* icon height.*/
    padding: 12px 0; /* Some padding.*/
    border-radius: 50%; /* Icons made circular.*/
    font-size: 13px; /* Font size.*/
    line-height: 7px; /* Define line height.*/
    text-align: center; /* Text allignment.*/
    color: #fafafa; /* Font style and back up font.*/
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
}
/*social links turn green when howvered over with the mouse.*/
.social-links li a i:hover {
    background:#6bbbf5 ;
}
/*First row of rooter has a padding of 20px.*/
#footer-details {
    padding: 20px; /*Some padding*/
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
#submit{
    background-color: #8f8f8f; /* Green background color. */
    color: white; /* white text color */
    padding: 12px 20px; /* Some padding */
    border: none; /* No border around green background color */
    border-radius: 4px; /* Rounded edges */
    cursor: pointer;
}
#submit:hover{
    background-color: #6bbbf5;
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
    background-color: #8f8f8f; /* Green background color. */
    color: white; /* white text color */
    padding: 12px 20px; /* Some padding */
    border: none; /* No border around green background color */
    border-radius: 4px; /* Rounded edges */
    cursor: pointer; /* changes cursor style when hovered over. */
}

/* When moving the mouse over the submit button, add a lighter green color */
input[type="submit"]:hover {
    background-color: #6bbbf5;
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px; /* Rounded edges */
    background-color: #9bd1f8; /* Grey background-color.*/
    padding: 20px; /* Some padding */
}

.container-contact{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
@media screen and (min-width:320px) and (max-width: 425px) /*For screens at 300px*/ {
body{
    overflow-x: hidden;
    max-width: 100%;
}
/* Header styling */
header {
    background-image:url(/assets/images/break-escape-header.jpg);
}
.logo{
    float:left;
    max-width: 40%;
}
.business-name{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 160px;
    margin-top: -80px;
    color: #fafafa;
}
.business-slogan{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 170px;
    margin-top: -10px;
    color: #fafafa;
    
}
.container{
    padding-top: 25px;
    padding-left:30px;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.container-text-image{
    flex: 0 0 calc(100% - 1em);
}
.container-text-paragraph{
    margin-top: 25px;
    margin-left:0px;
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.card {
    flex: 0 1 calc(90% - 1em);
}

.card-styling{
    padding-top:100px;
    padding-bottom: 100px;
    margin-left: 40px;
}
}
@media screen and (min-width:768px) and (max-width: 1024px) /*For screens at 300px*/ {
body{
    overflow-x: hidden;
    max-width: 100%;
}
/* Header styling */
header {
    background-image:url(/assets/images/break-escape-header.jpg);
}
.logo{
    float:left;
    max-width: 40%;
}
.business-name{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fafafa;
}
.business-slogan{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    color: #fafafa;
}
.container{
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.container-text-image{
    flex: 0 0 calc(50% - 1em);
}
.container-text-paragraph{
    margin-top:0px;
    margin-left:10px;
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.card {
    flex: 0 1 calc(50% - 1em);
}

.card-styling{
    padding-top:100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
}